body{
    text-align: center;
    

}

.form{
background-color: lightblue;
border-top-left-radius: 30px;
}

.info{
    /* position: absolute; */
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgb(31, 204, 252);
    padding: 40px;
}

button{
    color: black;
    background-color: rgb(194, 128, 255);
}

.data{
    background-color: rgb(186, 204, 235);
    
    
}

.data2{
    background-color: rgb(100, 97, 227);

}

.head{
    color: white;
}